.box-container{
    background-color: #002594;
    height: 100vh;
    width: 100%;
    position: relative;
    transition: 1s ease-out all;
}

.box-container .container-fluid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box-container .container-fluid .wrapper{
    width: 80%;
    height: 100%;
    background: #001a68;
    min-height: 500px;
    margin: auto;
    transition: 1s ease-out all;
}

.box-container.active{
    background: #a40016;
}

.box-container .container-fluid .wrapper.active{
    background: #68000e;
}